.Container {
    width: 100vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
    .BlogCommentContainer {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 50%;
    }
    
    .BlogCommentContainer > div {
      margin-bottom: 2rem;
      border-bottom: 1px solid #d0d7de;
      padding: 10px;
    }
    
    .BlogCommentContainer > div > span {
      text-align: start;
      background: #ddf4ff;
      padding: 0px 10px;
      border-radius: 5px;
      color: #3876e7;
      font-weight: 500;
    }
    
    .BlogCommentContainer > div > p {
      font-weight: 400;
      width: 70%;
    }
    